.danmu-body{
    color: #fff;
    font-size: 15px;
    background: linear-gradient(to right, black, transparent);
    background-size: 100% 125%;
    padding: 10px 12px;
    border-radius: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
}

.danmu-body-new{
    color: #fff;
    font-size: 20px;
    background: linear-gradient(-20deg, rgb(183, 33, 255) 0%, rgb(33, 212, 253) 100%);
    background-size: 100% 125%;
    padding: 15px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 30px;
    max-width: 380px;
    box-shadow: 1px 1px 5px #c88dff;
}

.danmu-body-new img {
    width: 35px;
    height: 35px;
}

.danmu-body img {
    width: 25px;
    height: 25px;
}

.avatar-img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
}

.danmu-content-text{
    vertical-align: middle;
}

.green-name{
    color: #63de8d;
}

.red-name{
    color: #ff8484;
}