.danmu-body{
    color: #fff;
    font-size: 15px;
    background: linear-gradient(to right, black, transparent);
    background-size: 100% 125%;
    padding: 10px 12px;
    border-radius: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
}

.danmu-body-new{
    color: #fff;
    font-size: 20px;
    background: linear-gradient(to right, rgb(33, 212, 253), transparent);
    background-size: 100% 125%;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 40px;
    max-width: 380px;
    /* box-shadow: 1px 1px 5px rgb(33, 212, 253); */
}

.danmu-body-new img {
    width: 40px;
    height: 40px;
}

.danmu-body img {
    width: 30px;
    height: 30px;
}

.avatar-img{
    border-radius: 50%;
    vertical-align: middle;
}

.danmu-content-text{
    vertical-align: middle;
}

.green-name{
    color: #63de8d;
}

.red-name{
    color: #ff8484;
}